<!DOCTYPE html>
<html>
<head>
    <title>Web Messenger</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <div class="chat-container">
        <div id="chat">
            <!-- Messages will be displayed here -->
        </div>
        <input type="text" id="username" placeholder="Enter your username">
        <input type="text" id="message" placeholder="Enter your message">
        <button id="send-button" onclick="sendMessage()">Send</button>
    </div>

    <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>
